a:hover {
  text-decoration: none;
  color: #000; }

html body {
  background: url("../img/background.jpg");
  font-size: 14px;
  font-family: sans-serif; }
  html body ul {
    margin: 0; }
  html body .container .row {
    margin: 0; }

.panel-order form {
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .panel-order form input[type="text"]::-webkit-input-placeholder {
    color: #000; }
  .panel-order form input[type="text"]::-moz-placeholder {
    color: #000;
    opacity: 1; }
  .panel-order form input[type="text"]:-moz-placeholder {
    color: #000;
    opacity: 1; }
  .panel-order form input[type="text"]:-ms-input-placeholder {
    color: #000; }

header select.lang {
  display: block;
  width: 46px;
  height: 26px;
  padding-left: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/white_triangle.png) no-repeat 31px center;
  border: none;
  background-color: #b99a6a;
  color: #fff; }

header select.lang::-ms-expand {
  display: none; }

@-moz-document url-prefix() {
  header select.lang {
    text-indent: 11.5px; } }

header section:nth-child(1) {
  color: #fff;
  background-color: #b99a6a; }
  header section:nth-child(1) ul {
    margin-top: 2px;
    padding: 0;
    height: 15px;
    display: inline-block; }
    header section:nth-child(1) ul li {
      margin-right: 12px !important;
      width: 15px;
      height: inherit;
      display: inline-block; }
      header section:nth-child(1) ul li a {
        height: inherit;
        display: block;
        background: url(../img/social.png) no-repeat; }
      header section:nth-child(1) ul li a[href="#facebook"] {
        background-position: 3px 0; }
      header section:nth-child(1) ul li a[href="#vk"] {
        background-position: -23px 0; }
      header section:nth-child(1) ul li a[href="#instagram"] {
        background-position: -50px 0; }
      header section:nth-child(1) ul li a:hover {
        text-decoration: none; }
      header section:nth-child(1) ul li li:last-child {
        margin: 0; }
  header section:nth-child(1) select.lang {
    width: 43px;
    height: 17px;
    padding-left: 2px;
    background: url(../img/white_triangle.png) no-repeat 31px center;
    border: none;
    background-color: #b99a6a;
    color: #fff; }

@-moz-document url-prefix() {
  header section:nth-child(1) select.lang {
    text-indent: 0; } }
  header section:nth-child(1) a {
    color: #fff; }
  header section:nth-child(1) .container .row {
    padding: 5px 0; }
    header section:nth-child(1) .container .row span {
      font-size: 12px; }
      header section:nth-child(1) .container .row span i {
        padding-right: 8px; }
    header section:nth-child(1) .container .row a[href="#old"] {
      margin-left: 102px; }
    header section:nth-child(1) .container .row ul {
      margin-right: 23.35px; }
    header section:nth-child(1) .container .row span.pull-right {
      font-size: 14px;
      margin-right: 30.5px; }

header section:nth-child(2) {
  background: #fff; }
  header section:nth-child(2) .container .row div a.logo {
    color: #000;
    font-size: 23.8px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 19px;
    padding-top: 15.19px;
    padding-bottom: 10.50px;
    padding-left: 79.31px;
    display: inline-block;
    background: url(../img/logotype.png) no-repeat; }
  header section:nth-child(2) .container .row div a.logo:hover {
    text-decoration: none; }
  header section:nth-child(2) .container .row div ul {
    padding-left: 35px;
    padding-top: 28.81px;
    padding-bottom: 27.21px;
    display: block; }
    header section:nth-child(2) .container .row div ul li {
      padding-right: 30px;
      font-size: 14px;
      list-style-type: none;
      display: inline-block; }
    header section:nth-child(2) .container .row div ul li:nth-child(2) {
      padding-right: 45px; }
    header section:nth-child(2) .container .row div ul li:nth-child(4) {
      padding-right: 0; }
      header section:nth-child(2) .container .row div ul li:nth-child(4) i {
        color: #b99a6a;
        position: absolute;
        font-size: 16px;
        margin-top: 2px; }
      header section:nth-child(2) .container .row div ul li:nth-child(4) span {
        display: inline-block;
        padding-left: 20px; }
        header section:nth-child(2) .container .row div ul li:nth-child(4) span a:last-child {
          color: #000; }
        header section:nth-child(2) .container .row div ul li:nth-child(4) span a:hover {
          text-decoration: none; }
        header section:nth-child(2) .container .row div ul li:nth-child(4) span a:visited {
          text-decoration: none; }

header section:nth-child(3) {
  background: #652b1a;
  border-bottom: 4px solid #b99a6a; }
  header section:nth-child(3) .container .row nav ul {
    padding-top: 18.76px;
    padding-bottom: 12.58px;
    padding-left: 0; }
    header section:nth-child(3) .container .row nav ul li {
      padding-right: 25px;
      display: inline-block;
      list-style-type: none; }
      header section:nth-child(3) .container .row nav ul li a {
        font-size: 100%;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff; }
    header section:nth-child(3) .container .row nav ul li:last-child {
      padding-right: 0; }

#rooms .swiper-wrapper {
  height: 536px; }
  #rooms .swiper-wrapper div.swiper-slide:nth-child(1) {
    background: url(../img/room_1.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  #rooms .swiper-wrapper div.swiper-slide:nth-child(2) {
    background: url(../img/room_2.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%; }

.glyphicon-menu-hamburger {
  cursor: pointer; }

.room-wrap {
  position: absolute;
  top: 212px;
  color: #fff;
  border: none !important; }
  .room-wrap h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: bold; }
  .room-wrap p {
    font-size: 24px;
    font-weight: lighter; }

.isle {
  background: rgba(182, 157, 105, 0.7); }
  .isle span {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    display: block;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 55px;
    background: url(../img/item.png) no-repeat center 70px; }

.category-wrap {
  padding-top: 30px; }

.sl:hover {
  border-color: #62749e; }

.sl {
  margin-bottom: 20px;
  border: 5px solid #fff;
  background: #f5f0e9;
  text-align: center;
  width: 222px !important;
  display: inline-block;
  margin-right: 17px; }
  .sl a {
    color: #000;
    font-size: 16px;
    text-decoration: none; }
    .sl a span {
      display: block;
      margin-bottom: 11.64px; }
  .sl a:hover {
    text-decoration: none; }

.sl:nth-child(4),
.sl:nth-child(8) {
  margin: 0; }

.sw0 .swiper-slide {
  display: block;
  background: #f5f0e9;
  margin-right: 2px;
  text-align: center; }
  .sw0 .swiper-slide a {
    color: #000;
    text-decoration: none; }
    .sw0 .swiper-slide a span {
      display: block;
      font-size: 16px;
      width: 100%;
      margin-bottom: 13px; }

.about-wrapper {
  background: #fff;
  position: relative; }
  .about-wrapper .about {
    padding: 75px 53px 65px;
    text-align: center; }
    .about-wrapper .about a {
      color: #000; }
    .about-wrapper .about a:hover {
      color: #000; }
    .about-wrapper .about a::before {
      margin-right: 20px;
      content: url("../img/a_left.png"); }
    .about-wrapper .about a::after {
      margin-left: 20px;
      content: url("../img/a_right.png"); }
    .about-wrapper .about h1 {
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 0; }
    .about-wrapper .about p {
      font-size: 16px; }

.about-wrapper::before {
  top: -8px;
  position: absolute;
  width: 100%;
  text-align: center;
  content: url("../img/icon.png"); }

.about-wrapper::after {
  bottom: -12px;
  position: absolute;
  width: 100%;
  text-align: center;
  content: url("../img/icon.png"); }

.map {
  border: 5px solid #fff; }

.sw2,
.sw3,
.sw4 {
  position: relative;
  border: 5px solid #fff; }
  .sw2 .swiper-wrapper,
  .sw3 .swiper-wrapper,
  .sw4 .swiper-wrapper {
    padding-left: 0;
    height: 271px;
    width: 100%; }
    .sw2 .swiper-wrapper li,
    .sw3 .swiper-wrapper li,
    .sw4 .swiper-wrapper li {
      list-style-type: none; }

.arrow {
  position: relative; }
  .arrow li {
    list-style-type: none; }

.arrow-left {
  cursor: pointer;
  height: 46px;
  width: 47px;
  background: url("../img/brown_arrow_l.jpg");
  position: absolute;
  z-index: 999;
  top: 43%;
  left: 0;
  position: absolute; }

.arrow-right {
  cursor: pointer;
  height: 46px;
  width: 47px;
  background: url("../img/brown_arrow_r.jpg");
  position: absolute;
  z-index: 999;
  top: 43%;
  right: 0; }

.sliders div.row:nth-child(2) {
  margin-bottom: 60px; }

.sliders .container {
  padding: 0; }

.slider-wrapper {
  padding: 0 10px;
  margin-top: 60px; }
  .slider-wrapper h1 {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0;
    font-size: 18px;
    font-weight: 900; }
  .slider-wrapper span {
    padding-right: 30px;
    float: right; }
  .slider-wrapper a {
    color: #000; }
  .slider-wrapper a:after {
    content: url("../img/info.png");
    position: absolute;
    margin-top: 2px;
    right: 10px; }

.feedback-wrapper {
  padding: 48px 0;
  background: #fff; }
  .feedback-wrapper p {
    display: inline-block;
    font-size: 16px;
    margin: 0; }
  .feedback-wrapper span {
    font-size: 18px;
    font-weight: 900; }
  .feedback-wrapper form {
    padding-top: 10px;
    float: right; }
    .feedback-wrapper form input[type="email"] {
      padding-left: 11.75px;
      width: 410px;
      height: 32px;
      margin-right: 20px;
      box-sizing: border-box; }
    .feedback-wrapper form button {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      background: #1f3975;
      color: #fff;
      border: none;
      width: 150px;
      height: 32px;
      box-sizing: content-box;
      padding: 0; }

.feedback {
  display: inline-block; }

footer {
  border-top: 3px solid #b99a6a;
  background: #562518; }
  footer .foot-wrap div:nth-child(4) span {
    border: 1px solid #fff;
    text-align: center;
    padding: 78px 77.5px;
    float: right;
    display: inline-block;
    margin-top: 41px;
    color: #fff;
    text-transform: uppercase; }
  footer .container .row .image-icon {
    margin-top: 41px;
    height: 149px;
    width: 149px;
    background: url(../img/img-icon.jpg) no-repeat; }
  footer .container .row ul {
    margin-top: 41px;
    padding: 0; }
    footer .container .row ul li {
      padding-bottom: 5px;
      list-style-type: none; }
      footer .container .row ul li a {
        text-transform: uppercase;
        font-size: 13px;
        color: #fff; }

@media only screen and (max-width: 767px) {
  .sw4 .swiper-slide p {
    padding: 0 70.63px; }
  .sliders {
    background: #f5f0e9;
    text-align: center; }
    .sliders h1 {
      font-size: 14px !important; }
    .sliders .slider-wrapper {
      margin-top: 0; }
      .sliders .slider-wrapper h1 {
        margin-top: 39px;
        margin-bottom: 31px; }
  .feedback-wrapper form.form-feedback {
    margin-top: 28px;
    padding: 0;
    width: 100%; }
    .feedback-wrapper form.form-feedback input {
      width: inherit;
      margin: 0; }
    .feedback-wrapper form.form-feedback button {
      margin-top: 18.7px; }
  .panel-order {
    display: none; }
  header section:nth-child(1) {
    display: none; }
  header select {
    border: none;
    background-color: #b99a6a;
    color: #fff; } }

footer {
  color: #fff; }
  footer section {
    background: #491f14; }
    footer section a {
      color: #fff; }
    footer section .container .row div:first-child p {
      padding-top: 15px;
      padding-left: 106px;
      height: 86px;
      background: url(../img/img-icon.jpg) no-repeat 0 0;
      background-size: 86px; }
    footer section .container .row div:nth-child(2) a {
      display: inline-block;
      padding: 11.48px 22.6px 11.48px 61.75px;
      border: 1px solid #fff;
      background: url(../img/mail.png) no-repeat 18px center; }
    footer section .container .row div:nth-child(2) a:hover {
      text-decoration: none; }
    footer section .container .row div:last-child a {
      padding-left: 0; }
  footer .contact {
    padding: 30.42px 0; }
  footer .foot-wrap {
    padding-bottom: 47.5px; }

.foot-social p {
  margin: 0;
  font-size: 12px; }

.foot-social .row {
  padding: 28px 0; }
  .foot-social .row ul {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 16.51px 16.51px 5px !important;
    background: #fff;
    margin: 0 !important; }
    .foot-social .row ul li {
      margin-right: 30px;
      display: inline-block;
      list-style-type: none;
      width: 15px; }
      .foot-social .row ul li a {
        display: block;
        background: url(../img/foot-icons.png) no-repeat; }
    .foot-social .row ul li:nth-child(1) a {
      background-position: 3px 0; }
    .foot-social .row ul li:nth-child(2) a {
      background-position: -42px 0; }
    .foot-social .row ul li:nth-child(3) {
      margin: 0; }
      .foot-social .row ul li:nth-child(3) a {
        background-position: -89.6px 0; }

.analitic {
  display: block;
  margin-left: 48px;
  background: url(../img/analitic.jpg) no-repeat;
  width: 88px;
  height: 31px; }

.sliders .container .row .slider-wrapper .swiper-slide {
  background: #fff; }

.sliders .container .row .slider-wrapper .arrow-style::before {
  content: url("../img/icon.png");
  display: block;
  position: absolute;
  z-index: 9999;
  width: 100%;
  text-align: center;
  top: -8px; }

.sliders .container .row .slider-wrapper .arrow-style::after {
  content: url("../img/icon.png");
  display: block;
  position: absolute;
  width: 100%;
  z-index: 9999;
  text-align: center;
  bottom: -12px; }

.review {
  text-align: center; }
  .review h3 {
    margin-top: 48.76px;
    font-size: 14px; }
    .review h3 span {
      float: none;
      color: #006692; }
  .review p {
    font-size: 16px;
    padding: 0 75px; }

.sw4 .swiper-slide {
  color: #fff;
  position: relative; }
  .sw4 .swiper-slide .seesights {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center; }
    .sw4 .swiper-slide .seesights img {
      height: 100%;
      width: 100%; }
    .sw4 .swiper-slide .seesights h2 {
      font-size: 24px; }
    .sw4 .swiper-slide .seesights p {
      font-size: 16px; }

@media only screen and (min-width: 768px) {
  .sw4 .swiper-slide p {
    padding: 0 47px; }
  .sw4 .swiper-slide img {
    height: 100%;
    width: 100%; }
  #rooms .container {
    position: relative; }
  .panel-order {
    position: absolute;
    top: 46px;
    right: 24px;
    background: rgba(244, 240, 236, 0.9);
    z-index: 9999; }
    .panel-order form {
      padding: 34px 30px 24px; }
      .panel-order form input[type="text"] {
        background: #fff url(../img/calendar.png) no-repeat 176.2px center; }
      .panel-order form input {
        display: block;
        width: 100%;
        height: 36px;
        width: 201px;
        border: 1px solid #b99a6a;
        padding-left: 11.5px;
        font-size: 14px;
        color: #000;
        margin-bottom: 19.5px; }
      .panel-order form select.guests,
      .panel-order form select.kids {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff url(../img/triangle.png) no-repeat 177.83px center;
        display: block;
        width: 100%;
        height: 36px;
        width: 201px;
        border: 1px solid #b99a6a;
        font-size: 14px;
        color: #000;
        margin-bottom: 19.5px;
        padding-left: 11.5px; }
      .panel-order form select::-ms-expand {
        display: none; }
  @-moz-document url-prefix() {
    .panel-order form select.kids, .panel-order form select.guests {
      padding-left: 5px; } }
      .panel-order form button {
        height: 36px;
        width: 201px;
        color: #fff;
        background: #1f3975;
        border: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        font-weight: lighter; }
    .panel-order .awards {
      background: url(../img/awards.png) no-repeat;
      height: 62px;
      width: 235px;
      margin: auto auto 21.55px; }
  .order {
    display: none; }
  header section:nth-child(2) .container .row div #work-time li:nth-child(3) {
    display: none; } }

@media only screen and (max-width: 999px) {
  .about-wrapper::after,
  .about-wrapper::before,
  .weather {
    display: none; }
  .category-wrap {
    background: #fff; }
    .category-wrap .container {
      padding: 0; }
      .category-wrap .container .category li {
        border: none;
        margin: 0; }
  .feedback-wrapper {
    text-align: center; }
  .sliders .slider-wrapper a span {
    display: none; }
  .sliders .slider-wrapper a:after {
    position: relative;
    left: 20px;
    top: 1px; }
  .about p span {
    display: none; }
  nav ul {
    padding: 10px 0; }
    nav ul li {
      padding: 0 !important;
      display: block;
      width: 100%; }
      nav ul li a {
        padding: 5px 0 5px 5px;
        display: block; }
      nav ul li a:hover {
        text-decoration: none;
        background: #b99a6a; }
  header .container .row a[href="#old"] {
    display: none; }
  header .container .row nav {
    display: none; }
  header section:nth-child(2) .container .row div ul li:nth-child(2) {
    padding-right: 25px !important; }
  header section:nth-child(2) .container .row div ul li:last-child {
    padding: 0; }
  header section:nth-child(2) .container .row div ul .glyphicon-menu-hamburger {
    font-size: 26px;
    color: #b99a6a; }
  header section:nth-child(2) .container .row div ul li:nth-last-child(2) {
    margin-right: 13px;
    height: 30px;
    width: 26px; }
    header section:nth-child(2) .container .row div ul li:nth-last-child(2) span {
      display: none !important; }
    header section:nth-child(2) .container .row div ul li:nth-last-child(2) a:first-child i.fa-phone.fa {
      padding-top: 2.5px;
      font-size: 28px; }
  section:nth-child(3) .container {
    padding: 0;
    margin: 0 !important;
    width: 100%; } }

@media only screen and (min-width: 1000px) {
  .category-wrap {
    padding-bottom: 38px; }
  body .container {
    padding: 0 12px; }
    body .container .row nav {
      display: block !important; }
  body .glyphicon-menu-hamburger {
    display: none; }
  body .left_arrow {
    position: absolute;
    top: 240px;
    cursor: pointer;
    z-index: 9999;
    background: url("../img/left_arrow.png") no-repeat;
    width: 26px;
    height: 44px; }
  body .right_arrow {
    right: 0;
    top: 240px;
    cursor: pointer;
    background: url("../img/right_arrow.png") no-repeat;
    width: 26px;
    height: 44px;
    position: absolute;
    z-index: 9999;
    display: block; }
  .about a {
    display: none; } }

@media only screen and (max-width: 767px) {
  .form-feedback {
    width: 100%; }
    .form-feedback input[typer="email"] {
      width: 100% !important;
      margin: 0; }
  .foot-logo {
    display: none; }
  footer .foot-social .row div {
    margin-bottom: 10px; }
  footer .foot-social .row div:nth-child(3) span.analitic {
    margin: 0; }
  footer .container .row div:nth-child(3) ul {
    margin: 0; }
  header section:nth-child(2) .container .row div #work-time li:first-child,
  header section:nth-child(2) .container .row div #work-time li:nth-child(2) {
    display: none; }
  .order {
    text-align: center;
    display: block;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    padding: 18.65px 0; }
  .order:hover {
    color: #fff;
    text-decoration: none; } }

@media only screen and (max-width: 479px) {
  .review p {
    font-size: 14px;
    padding: 0 43px; }
  .feedback-wrapper form.form-feedback {
    padding: 0 19.74px; }
  footer section .container .row.contact {
    padding-left: 21px; }
    footer section .container .row.contact div:first-child {
      border: 0 !important;
      margin: 0 !important; }
    footer section .container .row.contact div:nth-child(2) {
      margin: 30px 0; }
    footer section .container .row.contact div:last-child a {
      padding: 0 !important; }
  footer .container .row div:nth-child(2) ul,
  footer .container .row div:nth-child(3) ul {
    padding-left: 21px; }
  footer .foot-social .row {
    padding-right: 21px;
    padding-left: 21px; }
    footer .foot-social .row div {
      margin-bottom: 20px; }
    footer .foot-social .row div:last-child {
      margin-bottom: 0; }
    footer .foot-social .row div:nth-child(1) ul {
      text-align: center;
      width: 100%; }
  body .slider-wrapper {
    padding: 0; }
  body .container {
    padding: 0 5px; }
  body section:nth-child(2) .row div:first-child {
    border-bottom: 1px solid #eae1d2; }
  body section:nth-child(2) #work-time {
    display: table;
    margin: auto;
    padding: 17.61px 0; }
    body section:nth-child(2) #work-time li:nth-last-child(3) {
      position: relative;
      padding-right: 70px; }
      body section:nth-child(2) #work-time li:nth-last-child(3) select {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        width: 46px;
        height: 25px;
        font-size: 14px;
        position: relative;
        top: -6px; }
    body section:nth-child(2) #work-time li:nth-last-child(2) {
      margin-right: 70px; }
  body a.logo {
    margin-left: 19.57px;
    width: 100%; }
  body #rooms {
    height: 214px; }
    body #rooms .swiper-wrapper div.swiper-slide:nth-child(1) {
      background-position: 0 -140px; }
    body #rooms .swiper-wrapper div.swiper-slide:nth-child(2) {
      background-position: 0 -140px; }
  body .room-wrap {
    position: relative !important;
    display: table !important;
    margin: auto !important;
    top: 57px;
    text-align: center; }
    body .room-wrap h1 {
      font-size: 32px; }
    body .room-wrap p {
      font-size: 18px; }
  .isle span {
    padding-top: 13px !important;
    font-size: 20px !important;
    background-position: center 68px !important; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body .container {
    padding: 0 30px; }
  body ul#work-time {
    padding-left: 0; }
    body ul#work-time li {
      padding-right: 27px; }
    body ul#work-time li:nth-last-child(2) {
      padding: 0;
      margin-right: 29px; }
    body ul#work-time li:last-child {
      padding-right: 0; }
    body ul#work-time li:nth-last-child(3) {
      position: relative;
      top: -7px; }
    body ul#work-time select {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      width: 46px;
      height: 25px;
      font-size: 14px;
      position: relative; }
  body #rooms {
    height: 320px; }
    body #rooms .swiper-wrapper div.swiper-slide:nth-child(1) {
      background-position: 0 -40px; }
    body #rooms .swiper-wrapper div.swiper-slide:nth-child(2) {
      background-position: 0 -40px; }
  body .room-wrap {
    position: relative;
    display: table;
    margin: auto;
    top: 98px;
    text-align: center; }
    body .room-wrap h1 {
      font-size: 36px; }
    body .room-wrap p {
      font-size: 20px; }
  footer section .contact div:nth-child(1) {
    margin-bottom: 30px; }
  .isle span {
    font-size: 24px !important; } }

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .review h3 {
    margin-top: 48.76px; }
  .review p {
    padding: 0 43px; }
  footer .contact div:nth-child(4) a {
    padding: 0 !important; }
  footer .foot-social div:last-child {
    display: block;
    width: 100%; }
  .feedback-wrapper .container .row .form-feedback {
    display: block;
    padding-top: 26px;
    width: 584px;
    margin: auto;
    float: none; }
  body .container {
    padding: 0 24px; }
  body .room-wrap {
    position: absolute;
    top: 126px; }
  #rooms {
    height: 377px; }
    #rooms .swiper-wrapper div.swiper-slide:nth-child(1) {
      background-position: 0 -40px; }
    #rooms .swiper-wrapper div.swiper-slide:nth-child(2) {
      background-position: 0 -40px; }
  .awards {
    display: none; } }
